// Colors
$orange: #ff7218;
$purple: #ac5fd0;
$dark-purple: #613476;
$select-clicked: #ffc718;
$select-unclicked: #ffe465;
$background: #fafafa;

$font: 'Avenir', 'Open Sans', sans-serif;

$breakpoint-mobile: 768px;

body {
  height: 100%;
}

.App {
  font-family: $font;

  .hero {
    background-image: url('/hero.jpg');
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .nav {
      height: 5vh;
      padding: 10px 100px;

      img {
        height: 100%;
      }
    }
  }

  .hero-text {
    height: 100%;
    font-size: 3vmin;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    #welcome {
      text-transform: uppercase;
      color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #fff;      
    }

    
    .hero-btn {
      background-color: $purple
    }
    
    .hero-btn:hover {
      background-color: darken($purple, 20%);
    }
    
    @media screen and (max-width: $breakpoint-mobile){
      font-size: 6vmin;

    }
  }

  .btn {
    padding: 20px 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    color: white;
    background-color: $orange;
  }

  .btn:hover {
    background-color: darken($orange, 20%);
    cursor: pointer;
  }
  
  .title {
    font-weight: bold;
    color: $dark-purple;
    text-transform: uppercase;
  }
  .link {
    padding-top: 15px;
  }

  .link a {
    text-decoration: none;
    color: $dark-purple;
    font-weight: bold;
  }

  .content {
    padding: 100px;
  }

  .split-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .img {
      width: 50%;
    }

    @media screen and (max-width: $breakpoint-mobile){
      flex-direction: column;

      .content {
        padding: 40px;
      }

      .img {
        width: 100%;
      }
    }
  }

  .banner {
    height: 60vh;
    display: flex;
    align-items: center;

  }
  .banner.left {
    background-image: url('/banner-1.jpg');
    justify-content: left;
    
    .content {
      position: relative;
      left: 10%;
    }
  }

  .banner.right {
    background-image: url('/banner-2.jpg');
    justify-content: right;

    .content {
      width: 30%;
      position: relative;
      right: 5%;

      .body {
        padding-bottom: 20px;
      }
    }
  }

  .banner, .banner.left, .banner.right{

    @media screen and (max-width: $breakpoint-mobile){
      background-position: center;
    
      .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 100%;
        right: 0%;
        left: 0%;
      }
    }
  }
  .stars {
    display: flex;
    height: 30px;
  }
  .star {
    margin: 12.5px 0;
    position: relative;
    display: block;
    color: $orange;
    width: 0px;
    height: 0px;
    border-right: 25px solid transparent;
    border-bottom: 17.5px solid $orange;
    border-left: 25px solid transparent;
    transform: rotate(35deg);
  }
  .star:before {
    border-bottom: 20px solid $orange;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -11.25px;
    left: -16.25px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  .star:after {
    position: absolute;
    display: block;
    color: $orange;
    top: .75px;
    left: -26.25px;
    width: 0px;
    height: 0px;
    border-right: 25px solid transparent;
    border-bottom: 17.5px solid $orange;
    border-left: 25px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }

  .footer {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: $background;

    .follow {
      font-weight: 600;
      padding: 0 10px;
    }

    .social img{
      filter: invert(22%) sepia(16%) saturate(2790%) hue-rotate(240deg) brightness(98%) contrast(89%);
      fill: $dark-purple;
      padding: 10px;
      height: 100%;
      width: 50px;
    }
  }
}